body{
    display: flex;
    flex-direction: column;
    gap: 10px
}


.square1{
    background-color: red;
    width: 100px;
    height: 100px;
    animation-duration: 2s;
    animation-name: change;

}

@keyframes change{
    from{ background-color: red;}
    to{ background-color: blue;}
}

.square2{
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: move;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes move{
    from{left:0px;}
    to{left:300px;}
}

.square3{
    background-color: red;
    width: 100px;
    height: 100px;
    transition: 4s;
    
}

.square3:hover{

    transform: rotate(180deg);
    
}

.square4{
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    animation-name: size;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes size{
    from{width:100px;
         height: 100px;}

     to{width:200px;
       height: 200px;}
}

.square5{
    background-color: green;
    width: 100px;
    height: 100px;
    margin-left: 500px;
    animation: effect 5s infinite;
}

@keyframes effect{
    from {
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
    to {
        transform: translate(100px, 100px) rotate(180deg) scale(2);
    }
}
 
.square6{
    background-color: grey;
    width: 100px;
    height: 100px;
    transition: 4s;
}

.square6:hover{
    background-color: blueviolet;
}